<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>
    <title>Esse é meu Hotsite</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <link href="..\Content\hotpage.css" rel="stylesheet" type="text/css" />
    <link href="..\Content\icons.css" rel="stylesheet" type="text/css" />
    <!-- REPOSITÓRIO DE ICONES -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS CONTENTO ICONES DO GOOGLE -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <header>
        <h1>Richiely Batista de Moura Paiva</h1>
        <div>
            <img id="icone_photo" src="..\Images\img_avatar.png">
        </div>
    </header>

    <main>
        <section>
            <div id="topo" class="section-info">
                <div>
                    <h2>Seção 1</h2>
                    <p>
                        Esse é um template para meu site de apresentação portifólio.
                    </p>
                </div>
            </div>

            <div style="height:250px" class="parallax-container">
                <div class="parallax">
                    <img width="100%" src="..\Images\think.jpg" />
                </div>
            </div>
        </section>

        <section>
            <div id="id2" class="section-info">
                <h2>Seção 2</h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>

            <div style="height:250px" class="parallax-container">
                <div class="parallax">
                    <img width="100%" src="..\Images\imagem3.jpg" />
                </div>
            </div>
        </section>

        <section>
            <div id="id3" class="section-info">
                <h2>Seção 3</h2>
                <p>
                    Essa é uma linha da seção 3
                </p>
            </div>

            <div style="height:300px" class="parallax-container">
                <div class="parallax">
                    <img width="100%" src="..\Images\imagem1.jpg" />
                </div>
            </div>
        </section>

        <!-- NAVEGAÇÃO - ITENS FLUTUANTES -->
        <nav>
            <div class="menu">
                <i class="material-icons">&#xE145;</i>
            </div>
            <div class="nav-itens">
                <a href="#topo" class="tooltip" data-tooltip="Topo fixo">
                    <i class="material-icons">&#xE30C;</i>
                    <div class="text_tooltip"></div>
                </a>
                <a href="#id2" class="tooltip" data-tooltip="Botões">
                    <i class="material-icons">&#xE30F;</i>
                    <div class="text_tooltip"></div>
                </a>
                <a href="#id3" class="tooltip" data-tooltip="Tooltips">
                    <i class="material-icons">&#xE0CB;</i>
                    <div class="text_tooltip"></div>
                </a>
            </div>
        </nav>

    </main>

    <footer>
        <h2>Contato</h2>
        <div <div class="iconesMidiaSocial">
            <a href="https://github.com/richielybmp/" target="_blank" class="fa fa-github" title="Github"></a>
            <a href="https://www.linkedin.com/in/richiely-paiva" target="_blank" class="fa fa-linkedin" title="LinkedIn"></a>
            <a href="https://www.facebook.com/richielybatista" target="_blank" class="fa fa-facebook" title="Facebook"></a>
            <a href="https://www.instagram.com/richi_paiva/" target="_blank" class=" fa fa-instagram" title="Instagram"></a>
        </div>
    </footer>

    <script type="text/javascript " src="https://code.jquery.com/jquery-3.2.1.min.js "></script>
    <script type="text/javascript " src="..\Script\Parallax.js "></script>
    <script type="text/javascript " src="..\Script\hotScript.js "></script>
</body>

</html>